<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE devices PUBLIC "-//YARP//DTD yarprobotinterface 3.0//EN" "http://www.yarp.it/DTD/yarprobotinterfaceV3.0.dtd">


    <device xmlns:xi="http://www.w3.org/2001/XInclude" name="alljoints-FT_remapper" type="multipleanalogsensorsremapper">
        <!-- The below parameter names are set from the macro MAS_getTagFromEnum(enum MAS_SensorType) + "Names"
             defined in <yarp/dev/MultipleAnalogSensorsInterfaces.h> and respective device source file -->
        <param name="SixAxisForceTorqueSensorsNames">
          (l_arm_ft r_arm_ft l_leg_ft l_foot_rear_ft l_foot_front_ft r_leg_ft r_foot_rear_ft r_foot_front_ft)
        </param>
        <param name="TemperatureSensorsNames">
          (l_arm_ft r_arm_ft l_leg_ft l_foot_rear_ft l_foot_front_ft r_leg_ft r_foot_rear_ft r_foot_front_ft)
        </param>
        <action phase="startup" level="6" type="attach">
            <paramlist name="networks">
                <elem name="l_arm_ft"> left_arm-eb2-j0_1-strain </elem>
                <elem name="r_arm_ft"> right_arm-eb1-j0_1-strain </elem>
                <elem name="l_leg_ft"> left_leg-FT_remapper </elem>
                <elem name="r_leg_ft"> right_leg-FT_remapper </elem>
            </paramlist>
        </action>

        <action phase="shutdown" level="19" type="detach" />
    </device>
